Repository Tekiter/EZSET, pull requests merged in 2020-05, with the labels that each got.

#140 Board simple
  backend/src/api/v1/simple.route.js
  backend/src/models/Post.js
Labels: board, bug, core

#141 Fix Upload Error
  tools/update.sh
Labels: bug, core, file box, server

#143 Fix Penalty page display error in mobile page
  frontend/src/views/Penalty/Penalty.vue
Labels: Penalty, bug

#145 Attendance check: Add attendance record delete Feature
  backend/src/api/v1/attendance.route.js
  frontend/src/views/Attendance/AttendanceManageMonth.vue
Labels: attendance check

#146 Update README.md
  README.md
Labels: documentation

#148 Fix comment newline
  frontend/src/views/Board/Content.vue
Labels: board

#151 AttendanceCheck : Bug fix
  frontend/src/views/Attendance/AttendanceManageMonth.vue
Labels: attendance check, bug

#152 Penalty : redesign penaltymanage page
  backend/src/api/v1/penalty.route.js
  frontend/src/components/misc/PaginationFooter.vue
  frontend/src/views/Penalty/PenaltyManage.vue
Labels: Penalty
