Repository Tekiter/EZSET, pull requests merged in 2020-03, with the labels that each got.

#92 Server : Update update.sh
  tools/update.sh
Labels: server

#93 Documentation : Update getting_started.md (AWS EC2)
  docs/getting-started.md
  tools/update.sh
Labels: documentation

#95 Attendance : Update Attendance manage month page
  backend/src/api/v1/attendance.route.js
  frontend/src/components/core/SideMenu.vue
  frontend/src/router/index.js
  frontend/src/views/Attendance/Attendance.vue
  frontend/src/views/Attendance/AttendanceManageMonth.vue
  frontend/src/views/Attendance/AttendanceManageMonthOld.vue
Labels: attendance check

#98 Board simple
  backend/src/api/v1/attendance.route.js
  backend/src/api/v1/role.route.js
  backend/src/api/v1/schedule.route.js
  backend/src/api/v1/simple.route.js
  backend/src/utils/role/default.js
  backend/src/utils/socket.js
  backend/test/role/role.test.js
  frontend/src/components/file/FileUpload.vue
  frontend/src/components/manage/BoardPermEdit.vue
  frontend/src/components/manage/BoardRoleEdit.vue
  frontend/src/store/board.js
  frontend/src/utils/role/libs/Role.js
  frontend/src/utils/role/role.js
  frontend/src/views/Board/Content.vue
  frontend/src/views/Board/Post.vue
  frontend/src/views/Board/SearchPost.vue
  frontend/src/views/Board/WritePost.vue
  frontend/src/views/Manage/BoardManage.vue
Labels: board

#100 Attendance : Delete attendanceManagMonthOld sideMenu
  frontend/src/components/core/SideMenu.vue
Labels: attendance check

#102 Attendance : Add realname to OfficialAbsenceAccept Page
  backend/src/api/v1/absencecheck.route.js
  backend/src/utils/user.js
  frontend/src/views/Attendance/AttendanceManage.vue
  frontend/src/views/Attendance/AttendanceManageDay.vue
  frontend/src/views/Attendance/OfficialAbsenceAccept.vue
Labels: attendance check

#104 AttendanceCheck : Fix Permission issue
  frontend/src/views/Attendance/AttendanceManage.vue
  frontend/src/views/Attendance/AttendanceManageDay.vue
Labels: Honey bee, attendance check, bug

#114 Attendance check : Bug fix
  backend/src/api/v1/absencecheck.route.js
  frontend/src/views/Attendance/Attendance.vue
  frontend/src/views/Attendance/AttendanceManage.vue
  frontend/src/views/Attendance/AttendanceManageMonth.vue
  frontend/src/views/Attendance/AttendanceManageMonthUser.vue
  frontend/src/views/Schedule/Schedule.vue
Labels: Honey bee, attendance check, bug

#115 Schedule : Bug fix
  frontend/src/views/Schedule/Schedule.vue
Labels: Honey bee, bug, schedule

#122 Penalty : Penalty page
  backend/src/api/v1/penalty.route.js
  backend/src/api/v1/penaltyconfig.route.js
  backend/src/models/Penalty/Penalty.js
  backend/src/models/Penalty/PenaltyConfig.js
  backend/src/utils/role/default.js
  backend/src/utils/role/permissions.js
  frontend/src/components/core/SideMenu.vue
  frontend/src/router/index.js
  frontend/src/views/Manage/PenaltyEdit.vue
  frontend/src/views/Penalty/Penalty.vue
  frontend/src/views/Penalty/PenaltyManage.vue
Labels: Penalty

#123 Document: Write API Description for APIDOC
  backend/src/api/v1/penalty.route.js
  backend/src/api/v1/penaltyconfig.route.js
Labels: Penalty, documentation

#121 Edit bug
  frontend/src/views/Schedule/Schedule.vue
Labels: attendance check, bug

#124 Core: Bug fixes
  backend/src/api/v1/penalty.route.js
  backend/src/api/v1/penaltyconfig.route.js
  backend/src/api/v1/role.route.js
  backend/src/api/v1/simple.route.js
  backend/src/models/Penalty/Penalty.js
  backend/src/models/Penalty/PenaltyConfig.js
  backend/src/utils/role/default.js
  backend/src/utils/role/permissions.js
  frontend/src/components/file/FileDownload.vue
  frontend/src/components/layout/General.vue
  frontend/src/components/manage/BoardRoleEdit.vue
  frontend/src/router/index.js
  frontend/src/utils/role/role.js
  frontend/src/views/Manage/BoardManage.vue
Labels: bug, core

#125 File box renew: Fix bug
  backend/src/api/v1/filebox.route.js
  frontend/src/components/filebox/MaterialPostItem.vue
  frontend/src/components/filebox/WriteMaterial.vue
Labels: bug, file box

#132 Penalty : Fix Bugs
  backend/src/api/v1/penalty.route.js
  backend/src/api/v1/penaltyconfig.route.js
  backend/src/models/Penalty/Penalty.js
  backend/src/utils/initialization.js
  frontend/src/views/Manage/PenaltyEdit.vue
  frontend/src/views/Penalty/PenaltyManage.vue
Labels: Penalty, bug

#133 Penalty : Fix Bugs
  backend/src/api/v1/penaltyconfig.route.js
  frontend/src/views/Penalty/PenaltyManage.vue
Labels: Penalty, bug

#134 Attendance check : Fix Bugs
  backend/src/api/v1/attendance.route.js
  backend/src/api/v1/penalty.route.js
  frontend/src/views/Attendance/AttendanceManageMonthUser.vue
Labels: attendance check, bug
