Repository Tekiter/EZSET, pull requests merged in 2020-02, with the labels that each got.

#53 Attendance check
  backend/src/api/v1/absencecheck.route.js
  backend/src/api/v1/attendance.route.js
  backend/src/models/User.js
  backend/src/models/attendanceDay.js
  backend/src/models/officialAbsenceReason.js
  backend/src/utils/role/default.js
  backend/src/utils/socket.js
  backend/yarn.lock
  frontend/package.json
  frontend/src/components/core/SideMenu.vue
  frontend/src/router/index.js
  frontend/src/views/Attendance.vue
  frontend/src/views/AttendanceManage.vue
  frontend/src/views/AttendanceManageDay.vue
  frontend/src/views/AttendanceManageMonth.vue
  frontend/src/views/AttendanceManageMonthUser.vue
  frontend/src/views/OfficialAbsenceAccept.vue
  frontend/yarn.lock
Labels: Honey bee, attendance check

#56 Core: Role permission modify
  backend/src/api/v1/config.route.js
  backend/src/api/v1/role.route.js
  backend/src/api/v1/user.route.js
  backend/src/utils/auth.js
  backend/src/utils/config.js
  backend/src/utils/initialization.js
  backend/src/utils/role/default.js
  backend/src/utils/role/index.js
  backend/src/utils/role/permissions.js
  backend/src/utils/role_legacy/access.js
  backend/src/utils/role_legacy/database.js
  backend/src/utils/role_legacy/default.js
  backend/src/utils/role_legacy/index.js
  frontend/src/App.vue
  frontend/src/components/core/SideMenu.vue
  frontend/src/components/layout/General.vue
  frontend/src/components/manage/RolePermEdit.vue
  frontend/src/components/manage/SettingSelect.vue
  frontend/src/router/index.js
  frontend/src/store/config.js
  frontend/src/store/index.js
  frontend/src/utils/role/role.js
  frontend/src/views/Login.vue
  frontend/src/views/Manage/RoleManage.vue
  frontend/src/views/Manage/ServerManage.vue
  frontend/src/views/Manage/UserManage.vue
Labels: core

#57 Finish Schedule page
  backend/src/api/v1/absencecheck.route.js
  backend/src/api/v1/schedule.route.js
  backend/src/models/Schedule.js
  backend/src/utils/role/default.js
  backend/src/utils/socket.js
  frontend/src/components/core/SideMenu.vue
  frontend/src/router/index.js
  frontend/src/views/Attendance/Attendance.vue
  frontend/src/views/Attendance/AttendanceManage.vue
  frontend/src/views/Attendance/AttendanceManageDay.vue
  frontend/src/views/Attendance/AttendanceManageMonth.vue
  frontend/src/views/Attendance/AttendanceManageMonthUser.vue
  frontend/src/views/Attendance/OfficialAbsenceAccept.vue
  frontend/src/views/Schedule/Schedule.vue
Labels: Honey bee, schedule

#59 Core: Change how default role permission works
  backend/src/api/v1/role.route.js
  backend/src/api/v1/user.route.js
  backend/src/utils/role/default.js
  backend/src/utils/role/index.js
  frontend/src/components/layout/General.vue
  frontend/src/components/manage/RolePermEdit.vue
  frontend/src/views/Manage/RoleManage.vue
  frontend/src/views/Manage/UserManage.vue
Labels: bug, core

#66 Attendance check
  backend/src/api/v1/absencecheck.route.js
  backend/src/api/v1/attendance.route.js
  backend/src/api/v1/home.route.js
  backend/src/api/v1/schedule.route.js
  backend/src/utils/config.js
  backend/src/utils/role/default.js
  backend/src/utils/role/permissions.js
  frontend/src/components/core/SideMenu.vue
  frontend/src/components/manage/DefaultMainPage.vue
  frontend/src/components/manage/SettingSelect.vue
  frontend/src/views/Attendance/Attendance.vue
  frontend/src/views/Attendance/AttendanceManageDay.vue
  frontend/src/views/Attendance/AttendanceManageMonth.vue
  frontend/src/views/Attendance/AttendanceManageMonthUser.vue
  frontend/src/views/Attendance/OfficialAbsenceAccept.vue
  frontend/src/views/Home.vue
  frontend/src/views/Schedule/Schedule.vue
Labels: Honey bee, attendance check, core

#70 Attendance check
  frontend/src/views/Attendance/Attendance.vue
  frontend/src/views/Attendance/AttendanceManageMonthUser.vue
  frontend/src/views/Schedule/Schedule.vue
Labels: Honey bee, attendance check

#71 Attendnace: modify Official_Absence content display rule
  frontend/src/views/Attendance/AttendanceManageMonthUser.vue
Labels: attendance check

#74 Attendance check: Add Timer
  backend/src/api/v1/home.route.js
  backend/src/utils/socket.js
  frontend/src/views/Attendance/Attendance.vue
Labels: Honey bee, attendance check

#76 Core: Add manageHome permissoin
  backend/src/utils/role/permissions.js
Labels: core

#79 Server : Fix socket.io url in main.js
  backend/src/utils/socket.js
  frontend/src/main.js
Labels: server

#82 Tools: Modify Update.sh
  tools/update.sh
Labels: server

#83 Server : Change babel-plugin
  backend/package.json
  backend/yarn.lock
Labels: server

#85 Attendance Check : Fix Timer Issue
  backend/src/utils/socket.js
  frontend/src/views/Attendance/Attendance.vue
Labels: attendance check

#86 Schedule : Fix schedule issue
  backend/src/api/v1/schedule.route.js
  frontend/src/views/Schedule/Schedule.vue
Labels: schedule

#88 Attendance check: Edit Design
  frontend/src/views/Attendance/Attendance.vue
  frontend/src/views/Attendance/AttendanceManageMonthUser.vue
Labels: Honey bee, attendance check

#89 Attendance check : Display user realname
  frontend/src/views/Attendance/AttendanceManageDay.vue
  frontend/src/views/Attendance/AttendanceManageMonth.vue
Labels: attendance check
